<div id="comments-template" class="comment-box dis-none">
    <div class="comment-title" title="Click to Collapse">
        <span class="comment-count"></span> {{ _("Comments") }}  <span class="caret"></span>
        <img class="loading" src="{{ settings.MirrorSite }}/static/images/posts_loading.gif" alt="{{ _("loading") }}..."/>
        <div class="pull-right">
            <button class="btn btn-success btn-sm reply-post">
                <i class="fa fa-reply"></i>
                {{ _("Reply") }}
            </button>
        </div>
    </div>
    <div class="comment-input">
        <ul class="nav nav-tabs">
            <li class="active"><a name="content" data-toggle="tab" href="#">{{ _("Comment") }}</a></li>
            <li class=""><a name="preview" data-toggle="tab" href="#">{{ _("Preview") }}</a></li>
            <li class="message"><span class="label dis-none"></span></li>
            <li class="comment-author pull-right">
                <span class="input-group">
                    <input type="text" class="input-sm form-control"
                           name="author" placeholder="{{ _("Your Name") }}" required
                           {% if user and user.is_user() %}value="{{ user.nickname }}"{% endif %}/>
                    <span class="input-group-btn">
                    <button class="btn btn-default input-sm" type="button" id="submit_comment">{{ _("Submit") }}</button>
                    </span>
                </span>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active content">
                <textarea rows="1" name="content" class="form-control"
                          placeholder="{{ _("comment here, support markdown syntax") }}" required></textarea>
            </div>
            <div class="tab-pane preview">
            </div>
        </div>
    </div>
    <li id="thread_template" class="dis-none thread">
        <div class="command">
            <i class="fa fa-user"></i> <span class="user_name"></span>
            <i class="fa fa-clock-o"></i> <abbr class="date timeago text-muted" title=""></abbr>
            <div class="pull-right">
                <a class="stats" stats_type="Comment" name="like_count" oper="increase"
                    href="javascript:" title="{{ _("Like") }}"><i class="fa fa-thumbs-o-up"></i>
                </a>&nbsp;
                <a class="stats" stats_type="Comment" name="unlike_count" oper="increase"
                    href="javascript:" title="{{ _("Unlike") }}"><i class="fa fa-thumbs-o-down"></i>
                </a>&nbsp;
                <a class="reply-comment" href="javascript:" title="{{ _("Reply") }}"><i class="fa fa-reply"></i></a>&nbsp;
                {% if user.is_admin() %}
                <a class="delete-comment" href="javascript:" title="{{ _("Delete") }}"><i class="fa fa-trash-o"></i></a>&nbsp;
                <a class="restore-comment" href="javascript:" title="{{ _("Restore") }}" ><i class="fa fa-repeat"></i></a>&nbsp;
                {% endif %}
            </div>
        </div>
        <div class="comment-content">
        </div>
    </li>
    <ul class="threads">
    </ul>
</div>
<script type="text/javascript" src="{{ settings.MirrorSite }}/static/assets/jquery/timeago/jquery.timeago.js"></script>
<script type="text/javascript" src="{{ settings.MirrorSite }}/static/assets/jquery/timeago/jquery.timeago.{{ g.locale }}.js"></script>
<script type="text/javascript" src="{{ settings.MirrorSite }}/static/assets/bootstrap/jqBootstrapValidation.js"></script>

