<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('user.profile', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" width="40px" height="40px" src="{{ comment.author.avatar_url_auto(size=40) }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="comment-author"><a href="{{ url_for('user.profile', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
            <div class="comment-body">
                {% if comment.body_html %}
                    {{ comment.body_html | safe }}
                {% else %}
                    {{ comment.body }}
                {% endif %}
            </div>
            <div class="comment-footer">
                <a href="{# {{ url_for('comment.agree', id=comment.id) }} #}">
                    <span class="label label-success">赞同</span>
                </a>
                <a href="{# {{ url_for('comment.disagree', id=comment.id) }} #}">
                    <span class="label label-warning">反对</span>
                </a>
                {% if current_user == comment.post.author or current_user == comment.author or current_user.can(Permission.MODERATE_ARTICLES) %}
                    <a href="{{ url_for('comment.delete', id=comment.id, post_id=comment.post.id) }}">
                    <span class="label label-danger">删除</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>